<div id="footer">
	<div class="left"> 
  	Copyright © 2013 <strong>Universal Computers & Typing Center Batala</strong>. All Rights Reserved.<br>
        <a href="/">Home</a> &nbsp;/&nbsp; <a href="/contact-us.php">Contact</a> &nbsp;/&nbsp; <a href="/sitemap.php">Site Map</a>
	</div>
    <div class="right">
		<a style="text-decoration:none;" href="http://www.onlyweb.site" alt="Powered by onlyweb.site" style="padding-top:7px;">Powered by onlyweb.site</a>
	</div>
    <div class="clear"></div>
</div>