<a href="/" id="logo" class="left"></a>
<div id="nav" class="right">
<a href="/" class="nav left">Home</a>
<a href="/services" class="nav left">Services</a>
<a href="/course-fees" class="nav left">Computer Courses</a>
<a href="/about-us" class="nav left">About Us</a>
<a href="/contact-us" class="nav left">Contact Us</a>
<a href="/search-result" class="nav left">Result</a>
<span class="tel"><img src="{{'img/tel-top.png' | asset_url}}"> 0 1871 245244</span> 